<h1>Site de Filmes</h1>
<p>Um site feito para registrar, avaliar e criar listas de filmes vistos pelo usuário.</p>

<h2>Membros da equipe:</h2>
<ul>
    <li>João Alves Rodrigues Neto, 536107, Design Digital</li>
    <li>Rui Fernandes Wiebbeling, 521434, Design Digital</li>
</ul>

<h2>Papéis ou tipos de usuário da aplicação:</h2>
<ul>
    <li>Usuário não registrado</li>
    <li>Usuário registrado</li>
    <li>Administrador</li>
</ul>

<h2>Entidades ou tabelas do sistema:</h2>
<ul>
    <li>Usuário</li>
    <li>Filme</li>
    <li>Registro</li>
    <li>Avaliação</li>
    <li>Lista</li>
    <li>Comentário</li>
</ul>

<h2>Principais funcionalidades da aplicação:</h2>
<ul>
    <li>Usuário não registrado poderá ver os filmes, os registros, as avaliações, as listas e os comentários feitos por
        usuários registrados.</li>
    <li>Usuário registrado pode registrar, avaliar e criar listas para os filmes que assistiu. Adicionalmente, eles
        podem comentar em avaliações de outros usuários registrados.</li>
    <li>O administrador do site pode: adicionar e remover os filmes disponíveis no site, além de editar suas
        informações: título, sinopse e pôster.</li>
</ul>